.profile__username {
  color: #fff;
  margin: 0;
  padding-right: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__username {
    font-size: 27px;
    line-height: 33px;
    padding-right: 10px;
    max-width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .profile__username {
    padding-top: 22.25px;
    padding-left: 28px;
  }
}