.popup__submit-button {
  margin: 0 0 37px;
  width: 100%;
  min-width: 358px;
  min-height: 50px;
  background-color: #000;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  padding: 0;
  cursor: pointer;
  border: none;
  transition: .2s ease-out;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .popup__submit-button {
    min-width: 238px;
    min-height: 46px;
    margin: 15px 0 25px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__submit-button:hover {
  opacity: .8;
}