.element__bottom-bar {
  background-color: #fff;
  min-height: 79px;
  border-radius: 0 0 10px 10px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-areas:
    "caption like-button"
    "caption like-counter";
}