.profile__user-bio {
  color: #fff;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 360px;
}

@media screen and (max-width: 768px) {
  .profile__user-bio {
    font-size: 14px;
    line-height: 17px;
    max-width: 280px;
  }
}